<p>
    <%    var texto = "teste";  %>
    <%= texto %>
</p>

<hr>
    <ul>
        <% for(var chave in clientes){ %>
             <li><%=  clientes[chave].nome %> | <%=  clientes[chave].email %></li>
        <% } %>
    </ul>

    <hr>

    <form action='/' method="post">
        <input type="text" name="nome" placeholder="Nome">
        <br>
        <input type="text" name="email" placeholder="E-mail">
        <br>
        <button>Adicionar</button>
        <br>
    </form>