<p>
    <%    var texto = "teste";  %>
    <%= texto %>
</p>

<hr>
    <ul>
        <% for(var chave in clientes){ %>
             <li><%=  clientes[chave].nome %> | <%=  clientes[chave].email %></li>
        <% } %>
    </ul>